/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
@import url('Roboto.css?family=Roboto');
@import url('DroidSans.css?family=Droid+Sans');
@import url('Dosis.css?family=Dosis');

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #C20613;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/* Ecopublicidad 

.market {
  background-image: url(../img/market.webp);
  background-size: 100%;
  background-repeat: no-repeat;

}

@media only screen and (max-width : 600px) {
  .market {
  background-image: url(../img/market_mobile.webp);
  background-size: 100%;
  background-repeat: no-repeat;
   }

}

.bodegon {
  background-image: url(../img/bodegon_home.webp);
  width: 100%;
}

.farmacia {
   background-image: url(../img/farmacia.webp);
  background-size: 100%;
  background-repeat: no-repeat;
}

@media only screen and (max-width : 600px) {
  .farmacia {
   background-image: url(../img/farmacia_mobile.webp);
  background-size: 100%;
  background-repeat: no-repeat;
   }
}
*/

.revista {
    background-image: url(../img/fondo_turevistasigo.webp);
  background-size: 100%;
  background-repeat: no-repeat;
}

@media only screen and (max-width : 600px) {
  .revista {
    background-image: url(../img/fondo_turevistasigo_movil.webp);
  background-size: 100%;
  background-repeat: no-repeat;
}


}


.barra_sigo {
  background-color: #95D600;
  padding: 8px;
}

.footer_sigo {
  width:60%;
  float: center;  

}

.menu_sigo {
margin-top: 46px;
width: 74%;
background-color: rgba(255,255,255,0.8);
}

@media only screen and (max-width : 600px) {
  .menu_sigo  {
    margin-top: 46px;
    width: 40%;
    background-color: rgba(255,255,255,0.8);
  }
}

.sigo_logo {
  margin-top: -46px;
}

@media only screen and (max-width : 600px) {
  .sigo_logo {
    margin-top: 6px;
    margin-left: 12px;
  }
}

.social_home {

  margin-right: 12px;
  margin-top: -40px;
  
}

@media only screen and (max-width : 600px) {
  .social_home  {
     margin-right: 8px;
     margin-top: -40px;
     white-space:pre;

  }
}


.texto_revista {
  margin-top: 120px;
}

@media only screen and (max-width : 600px) {
 .texto_revista {
  margin-top: 0px;
}

}

.slider_market {
   background-image: url(../img/market/slider_principal.webp);
   height: 502px;
   background-size: 100%;
   background-repeat: no-repeat;
   margin-top: -120px; 
   
}

.menu_internas {
 margin-right: 16px;
}

.olas {
  background-image: url(../img/textura_footer.webp);
  height: 100px;
}

.logo_sigo_footer {
  margin-top: -110px;
  width: 10%;
}

@media only screen and (max-width : 600px) {
 .logo_sigo_footer {
  margin-top: -110px;
  width: 40%;
}

}

/*Inicio Time line*/


/* ================ The Timeline ================ */

.timeline {
  position: relative;
  width: 860px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 4px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80,80,80);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 400px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 400px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(248,248,248);
  padding: 6px 10px;
  border-radius: 5px;
  
  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid rgb(62, 129, 224);
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  
  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(250,80,80);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
}

.desc {
  margin: 1em 0.75em 0 0;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

.timeline {
  width: 100%;
  padding: 4em 0 1em 0;
}

.timeline li {
  padding: 2em 0;
}

.direction-l,
.direction-r {
  float: none;
  width: 100%;

  text-align: center;
}

.flag-wrapper {
  text-align: center;
}

.flag {
  background: rgb(255,255,255);
  z-index: 15;
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: -30px;
  left: 50%;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-left: -9px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid rgb(255,80,80);
  z-index: 10;
}

.direction-l .flag:after,
.direction-r .flag:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -8px;
  height: 0;
  width: 0;
  margin-left: -8px;
  border: solid transparent;
  border-bottom-color: rgb(255,255,255);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: block;
  position: relative;
  margin: 4px 0 0 0;
  z-index: 14;
}

.direction-l .time-wrapper {
  float: none;
}

.direction-r .time-wrapper {
  float: none;
}

.desc {
  font-size: 2em;
  position: relative;
  margin: 1em 0 0 0;
  padding: 1em;
  background: rgb(245,245,245);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  box-shadow: 0 0 1px rgba(0,0,0,0.20);
  
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
  position: relative;
  margin: 1em 1em 0 1em;
  padding: 1em;
  
  z-index: 15;
}

}

@media screen and (min-width: 400px ?? max-width: 660px) {

.direction-l .desc,
.direction-r .desc {
  margin: 1em 4em 0 4em;
}

}

.historia_cronologia {
  margin-top: -140px;
}

@media only screen and (max-width : 600px) {
  .historia_cronologia {
  margin-top: 0px;
    }
}

.sucursales_titulos {
  width: 70%;
}

@media only screen and (max-width : 600px) {
  .sucursales_titulos {
    margin-top: -20px;
  width: 100%;
  }  
}


.proveduria_margarita {
  background-image: url(../img/sucursales/laproveduria_margarita.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 360px;
}

@media only screen and (max-width : 600px) {
  .proveduria_margarita {
  background-image: url(../img/sucursales/laproveduria_margarita.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 200px;
}


}



.proveduria_margarita_mapas {
 height: 360px;
}

@media only screen and (max-width : 600px) {
  .proveduria_margarita_mapas {
    margin-top: -4px;
 height: 200px;
}

}

.localizador {
  background-color: #7FB9E3; 
}

.proveduria_costazul {
  background-image: url(../img/sucursales/parque_costazul.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 360px;
}

@media only screen and (max-width : 600px) {
  .proveduria_costazul {
  background-image: url(../img/sucursales/parque_costazul.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 200px;
}


}

.iconos_sucursales1 {
  margin-top: 12px;
  width: 100%;
}

@media only screen and (max-width : 600px) {
  .iconos_sucursales1 {
  margin-top: 12px;
  width: 20%;
  margin-top: 12px;
  text-align: center;

}


}


.iconos_sucursales {
  width: 100%;
  margin-top: 50%;
}

@media only screen and (max-width : 600px) {
  .iconos_sucursales {
  width: 20%;
  margin-top: 12px;
  text-align: center;

}


}

.horario_sucursales {
  margin-top: 8%
}


.sambilmargarita_sucursales {
  background-image: url(../img/sucursales/sambil_margarita.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 360px;
}

@media only screen and (max-width : 600px) {
  .sambilmargarita_sucursales {
  background-image: url(../img/sucursales/sambil_margarita.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 200px;
}


}

.sucursales_titulos2 {
  width: 70%;
}

@media only screen and (max-width : 600px) {
  .sucursales_titulos2 {
    margin-top: -20px;
  width: 100%;
  }  
}


.proveduria_barcelona {
  background-image: url(../img/sucursales/barcelona.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 360px;
}

@media only screen and (max-width : 600px) {
  .proveduria_barcelona {
  background-image: url(../img/sucursales/barcelona.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 200px;
}


}


.localizador_proveduria {
  background-color: #7FCCD3; 
}

.sucursales_titulos2 {
  width: 60%;
}

@media only screen and (max-width : 600px) {
  .sucursales_titulos2 {
    margin-top: -20px;
  width: 100%;
  }  
}

.proveduria_maturin {
  background-image: url(../img/sucursales/maturin.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 360px;
}

@media only screen and (max-width : 600px) {
  .proveduria_maturin{
  background-image: url(../img/sucursales/maturin.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 200px;
}


}


.localizador_maturin {
  background-color: #BFE66C; 
}

.sucursales_titulos3 {
  width: 55%;
}

@media only screen and (max-width : 600px) {
  .sucursales_titulos3 {
    margin-top: -20px;
  width: 100%;
  }  
}


.localizador_paraguana {
  background-color: #57B5A5; 
}



.localizador_maracay {
  background-color: #5DABDB; 
}

.sucursales_titulos4 {
  width: 36%;
}

@media only screen and (max-width : 600px) {
  .sucursales_titulos4 {
    margin-top: -20px;
  width: 100%;
  }  
}


.proveduria_maracay {
  background-image: url(../img/sucursales/maracay.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 360px;
}

@media only screen and (max-width : 600px) {
  .proveduria_maracay{
  background-image: url(../img/sucursales/maracay.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 200px;
}


}


.proveduria_paraguana {
  background-image: url(../img/sucursales/paraguana.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 360px;
}

@media only screen and (max-width : 600px) {
  .proveduria_paraguana{
  background-image: url(../img/sucursales/paraguana.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 200px;
}


}

.titulos_responsabilidad_valoramos {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  font-weight: bold;
}

@media only screen and (max-width : 600px) {
  .titulos_responsabilidad_valoramos {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  font-weight: bold;
  text-align: center;
}



}


/* preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
    z-index: 99999;
    height: 100%;
    
}
#status {
    position: absolute;
    left: 45%;
    top: 50%;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;
    padding: 0;
}


.proveduria_costazul {
  background-image: url(../img/sucursales/laproveduria_costazul.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 360px;
}

@media only screen and (max-width : 600px) {
  .proveduria_costazul {
  background-image: url(../img/sucursales/laproveduria_costazul.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 200px;
}


}
