<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Sigo S.A. - Panel Administrativo</title>
<link href="/css/estilos.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="/imagenes/icono.ico">
<script type="text/javascript" language="javascript" src="/js/validar.js"></script>
<script src="/Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
</head> 
<body>
<br />
<br />
<table width="400" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" class="marco">
  <tr>
    <td align="center" background="/imagenes/fondo_admin.jpg"><img src="/imagenes/logo.jpg" width="400" height="122" /></td>
  </tr>
  <tr>
    <td class="division"></td>
  </tr>
  <tr>
    <td class="division2"></td>
  </tr>
  <tr>
    <td><form action="" method="post" name="form1" id="form1" onsubmit="MM_validateForm('login','','R','password','','R');return document.MM_returnValue">
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="normal">
          <tr>
            <td colspan="3" align="center" class="titulo">Autenticaci&oacute;n de Usuario </td>
          </tr>
          {$mensaje}
          <tr>
            <td width="67" align="left" class="tituloWeb">Usuario:</td>
            <td width="308"><input name="login" type="text" id="login" size="40" maxlength="20" /></td>
            <td width="72" rowspan="3" align="center" valign="top"><img src="/imagenes/candado.png" width="60" height="60" /></td>
          </tr>
          <tr>
            <td align="left" class="tituloWeb">Clave:</td>
            <td><input name="password" type="password" id="password" size="40" maxlength="20" /></td>
          </tr>
          <tr>
            <td align="center">&nbsp;</td>
            <td align="left"><input name="boton_login" type="submit" value="Entrar" />
            <a href="recuperar_clave.php">&nbsp;&nbsp;&iquest;Olvid&oacute; su clave? </a></td>
          </tr>
        </table>
    </form></td>
  </tr>
</table>
<br />
</body>
</html>
