136
a:4:{s:8:"template";a:1:{s:14:"contenido4.tpl";b:1;}s:9:"timestamp";i:1562881052;s:7:"expires";i:1562884652;s:13:"cache_serials";a:0:{}}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/plantilla_tienda2.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
<title>Sigo S.A. | Sala de Prensa | Sigo Venezuela</title>
<meta name="Title" content="Sigo S.A." />
<meta name="Author" content="Alejandro D&iacute;az http://diazcreativos.net.ve/" />
<meta name="Subject" content="Sigo S.A." />
<meta name="Description" content="Descripción Larga Aquí" /> 
<meta name="Keywords" content="palabras, claves, aqui" />

<meta name="Generator" content="DreamWeaver" /> 
<meta name="Language" content="Spanish" />
<meta name="Revisit" content="7 days" /> 
<meta name="Distribution" content="Global" />
<meta name="Robots" content="All" />

<link href="/css/estilos.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="/imagenes/icono.ico" />
<script src="/js/validar.js" type="text/javascript"></script>
<link href="/css/skitter.styles3.css" type="text/css" media="all" rel="stylesheet" />
<link rel="stylesheet" href="/css/jshowoff.css" type="text/css" media="screen, projection" />
<script src="/js/jquery.min.js" type="text/javascript"></script>
<script src="/js/jquery-ui.min.js" type="text/javascript"></script>
<script src="/js/jquery.skitter.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/jquery.jshowoff.min.js"></script>
<script src="/Scripts/swfobject_modified.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/jquery.jcarousel.js"></script>
<link rel="stylesheet" type="text/css" href="/css/skin2.css" />
<link href="/css/styles.css" type="text/css" media="all" rel="stylesheet" />
<link href="/dropdown/menu.css" type="text/css" media="all" rel="stylesheet" />

<script type="text/javascript">

jQuery(document).ready(function() {
    jQuery('#mycarousel').jcarousel({
		vertical: true,
        auto: 0,
		easing: 'easeOutBack',
		animation: 'slow',
		scroll: 3,
        wrap: 'circular',
        initCallback: mycarousel_initCallback,
		itemLoadCallback: itemLoadCallbackFunction
    });
});

$(function(){
    // Skitter
    $('.box_skitter_large').skitter();
    
});
</script>

<!-- InstanceBeginEditable name="head" -->

<script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=places&sensor=true"></script>

<script type="text/javascript" src="/js/jquery.lightbox-0.5.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery.lightbox-0.5.css" media="screen" />
<script type="text/javascript">
$(function() {
	$('#gallery a').lightBox();
});
</script>


<!-- InstanceEndEditable -->
</head>

<body onload="MM_preloadImages('/imagenes/logo_twitter_color.png','/imagenes/logo_facebook_color.png','/imagenes/logo_youtube_color.png')">
<div id="main_principal"> 
<div id="encabezado">
        <div id="logopequeno"><a href="index.php" title="Home"><img src="/imagenes/logotipo_E.png" width="154" height="144" border="0" /></a></div>
        <div id="botonera_A">
            <ul id="menu">
                                        <li><a href="contenido.php?cont=1#next">Home</a>
                                            </li>
                	                    <li><a href="contenido.php?cont=2#next">HyperMarket</a>
                                                <div class="dropdown_3columns">
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&amp;sub=64#next">
                                Artículos del Hogar</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&amp;sub=65#next">
                                Bebés</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&amp;sub=66#next">
                                Bodegón</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&amp;sub=67#next">
                                Carnicería</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&amp;sub=68#next">
                                Charcutería</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&amp;sub=69#next">
                                Chucherías</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&amp;sub=70#next">
                                Computación</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&amp;sub=71#next">
                                Congelados</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&amp;sub=72#next">
                                Cuidado Personal</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&amp;sub=73#next">
                                Deportes</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&amp;sub=75#next">
                                Farmacia</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&amp;sub=74#next">
                                Electrodomésticos</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&amp;sub=76#next">
                                Ferretería</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&amp;sub=77#next">
                                Frulever</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&amp;sub=78#next">
                                Lámparas</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&amp;sub=79#next">
                                Lencería</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&amp;sub=80#next">
                                Limpieza</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&amp;sub=81#next">
                                Mascotas</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&amp;sub=82#next">
                                Panadería</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&amp;sub=83#next">
                                Papelería</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&amp;sub=84#next">
                                Pescadería</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&amp;sub=85#next">
                                Pintura</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&amp;sub=86#next">
                                Sigo Car</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&amp;sub=87#next">
                                Ropa</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&amp;sub=88#next">
                                Sonido y Video</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&amp;sub=89#next">
                                Víveres</a>
                                </div>
                                                    </div>
                                            </li>
                	                    <li><a href="contenido.php?cont=3#next">SuperMarket</a>
                                                <div class="dropdown_3columns">
                                                            <div class="col_1"><a href="contenido_sub.php?cont=3&amp;sub=43#next">
                                Bodegón</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=3&amp;sub=19#next">
                                Carnicería</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=3&amp;sub=44#next">
                                Charcutería</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=3&amp;sub=45#next">
                                Chucherías</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=3&amp;sub=46#next">
                                Congelados</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=3&amp;sub=22#next">
                                Cuidado Personal</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=3&amp;sub=21#next">
                                Farmacia</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=3&amp;sub=18#next">
                                Frulever</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=3&amp;sub=49#next">
                                Limpieza</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=3&amp;sub=47#next">
                                Mascotas</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=3&amp;sub=33#next">
                                Panadería</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=3&amp;sub=42#next">
                                Pescadería</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=3&amp;sub=48#next">
                                Víveres</a>
                                </div>
                                                    </div>
                                            </li>
                	                    <li><a href="contenido.php?cont=4#next">HomeMarket</a>
                                                <div class="dropdown_3columns">
                                                            <div class="col_1"><a href="contenido_sub.php?cont=4&amp;sub=50#next">
                                Artículos del Hogar</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=4&amp;sub=51#next">
                                Bebés</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=4&amp;sub=52#next">
                                Computación</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=4&amp;sub=53#next">
                                Deportes</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=4&amp;sub=54#next">
                                Electrodomésticos</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=4&amp;sub=56#next">
                                Ferretería</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=4&amp;sub=57#next">
                                Lámparas</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=4&amp;sub=58#next">
                                Lencería</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=4&amp;sub=59#next">
                                Papelería</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=4&amp;sub=60#next">
                                Pintura</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=4&amp;sub=61#next">
                                Sigo Car</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=4&amp;sub=62#next">
                                Ropa</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=4&amp;sub=63#next">
                                Sonido y Video</a>
                                </div>
                                                    </div>
                                            </li>
                	                    <li><a href="contenido.php?cont=5#next">MiniMarket</a>
                                                <div class="dropdown_3columns">
                                                            <div class="col_1"><a href="contenido_sub.php?cont=5&amp;sub=91#next">
                                Chucherías</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=5&amp;sub=92#next">
                                Cuidado Personal</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=5&amp;sub=90#next">
                                Farmacia</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=5&amp;sub=93#next">
                                Limpieza</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=5&amp;sub=94#next">
                                Mascotas</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=5&amp;sub=95#next">
                                Panadería</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=5&amp;sub=96#next">
                                Víveres</a>
                                </div>
                                                    </div>
                                            </li>
                	                    <li><a href="contenido.php?cont=7#next">Bodegón</a>
                                            </li>
                	                    <li><a href="contenido.php?cont=8#next">Farmacia</a>
                                            </li>
                	            </ul>
        </div>
        <div id="topbanner">
        	<div id="botonera_lateral">
            	<ul id="mycarousel" class="jcarousel jcarousel-skin-tango">
                                <li>
                	<div class="modulo_subcat">
                    <div class="foto_subcat">
                    <a href="contenido_sub.php?cont=15&amp;sub=97#next" title="$subcategorias[i].etiqueta_sub">
                    <img class="opacidad" border="0" src="/imagenes/icono_default.jpg" width="33" height="33" /></a>
             		</div>
               	    <div class="titulo_subcat">
                    <a title="La Empresa Sigo S.A." href="contenido_sub.php?cont=15&amp;sub=97#next">¿Quiénes Somos?</a></div>
                   </div>
              </li>
           	                    <li>
                	<div class="modulo_subcat">
                    <div class="foto_subcat">
                    <a href="contenido_sub.php?cont=15&amp;sub=98#next" title="$subcategorias[i].etiqueta_sub">
                    <img class="opacidad" border="0" src="/imagenes/icono_default.jpg" width="33" height="33" /></a>
             		</div>
               	    <div class="titulo_subcat">
                    <a title="Misión y Visión Sigo S.A." href="contenido_sub.php?cont=15&amp;sub=98#next">Misión y Visión</a></div>
                   </div>
              </li>
           	                    <li>
                	<div class="modulo_subcat">
                    <div class="foto_subcat">
                    <a href="contenido_sub.php?cont=15&amp;sub=99#next" title="$subcategorias[i].etiqueta_sub">
                    <img class="opacidad" border="0" src="/imagenes/icono_default.jpg" width="33" height="33" /></a>
             		</div>
               	    <div class="titulo_subcat">
                    <a title="Sala de Prensa" href="contenido_sub.php?cont=15&amp;sub=99#next">Sala de Prensa</a></div>
                   </div>
              </li>
           	                    </ul>
            </div>
        	<div class="box_skitter box_skitter_large">  
			<ul>
            	                	<li>
                        <a href="#" title="Sigo Venezuela">
                        <img alt="Sigo Venezuela" src="/imagenes/banner_principal.png" /></a>
    <div class="label_text">
                            <p class="etiqueta">Sigo Venezuela</p>
                        </div>
                    </li>
                			  </ul>
        	</div>
        </div>
    </div>
  
  <!-- InstanceBeginEditable name="contenido" --><br />
          <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td align="left">
              <table width="100%" border="0" cellspacing="0" cellpadding="6">
             	                            <tr>
            
            <td valign="top">
            	<span class="titulo">Sala de Prensa</span>  - <span class="normalContenido2">publicado:14/11/2012</span> <br />
<p style="text-align: center">
	&nbsp;</p>
<p align="center">
	&nbsp;</p>
<p align="center">
	<strong>PROYECTO GUAYAC&Aacute;N: </strong></p>
<p align="center">
	<strong>REDESCUBRIENDO NUEVAS MANERAS DE ENSE&Ntilde;AR </strong></p>
<p align="center">
	&nbsp;</p>
<p>
	<em>Desde sus inicios en marzo de 2008, ya suman m&aacute;s de 2 mil ni&ntilde;os, 68 maestros y 6 directores de escuela quienes han experimentado la magia que se genera al probar nuevas y creativas maneras de transmitir conocimientos.</em></p>
<p>
	&nbsp;</p>
<p>
	En el estado Nueva Esparta existen m&uacute;ltiples evidencias de que cuando la empresa privada y las comunidades se unen en torno a un objetivo com&uacute;n, se pueden obtener resultados muy positivos. Y si a esto se suma que dichos esfuerzos est&aacute;n orientados a fortalecer el desarrollo educativo de los m&aacute;s peque&ntilde;itos, las iniciativas no pueden ser menos que alentadoras.</p>
<p>
	Con esto en mente, SIGO asumi&oacute; el compromiso de incorporar dentro de sus programas de responsabilidad social el proyecto &ldquo;Guayac&aacute;n&rdquo;, una iniciativa que est&aacute; impactando a 6 escuelas piloto en el Estado Nueva Esparta, contribuyendo a &nbsp;mejorar el rendimiento escolar de ni&ntilde;os entre 1&deg; y 6&deg; grado, enfoc&aacute;ndose en habilidades de matem&aacute;tica, lectura y escritura.</p>
<p>
	Las unidades educativas involucradas son Do&ntilde;a Menca de Leoni ubicada en la comunidad de Jos&eacute; Asunci&oacute;n Rodr&iacute;guez, Petra Su&aacute;rez de Pi&ntilde;erua, en San Lorenzo, &nbsp;Mar&iacute;a Elvira de Figueroa, en San Antonio; &nbsp;Juana Salazar de Moreno, en el Agua de Vaca en San Juan y en la isla de Coche, las escuelas Felipa Neri de Narv&aacute;ez y Concentrado La Uva. Pr&oacute;ximamente, y gracias a los resultados positivos que obtuvieron,&nbsp; 4 de estas escuelas cerrar&aacute;n su ciclo, y se espera ir incorporando nuevas unidades educativas al proyecto.</p>
<p>
	Es un hermoso trabajo que cuenta con el acompa&ntilde;amiento del Centro de Investigaciones Culturales y Educativas (CICE), asociaci&oacute;n sin fines de lucro, dedicada a la investigaci&oacute;n educativa.</p>
<p>
	&iquest;Pero, qu&eacute; busca proyecto &ldquo;Guayac&aacute;n&quot;?&nbsp; Que nuestras comunidades cuenten con maestros m&aacute;s capacitados. Se busca fortalecer su gesti&oacute;n docente e impulsar la excelencia educativa, ense&ntilde;&aacute;ndoles m&eacute;todos sencillos y entretenidos de ense&ntilde;anza y evaluaci&oacute;n. La capacitaci&oacute;n incluye los m&oacute;dulos <em>Estrategias para la ense&ntilde;anza de la matem&aacute;tica, Ejercitaci&oacute;n para la comprensi&oacute;n lectora, &nbsp;Pedagog&iacute;a Eficaz, y Tecnolog&iacute;a educativa dentro del Aula. &nbsp;</em></p>
<p>
	Tambi&eacute;n se trabaja con los Directores. Con ellos, se busca mejorar la organizaci&oacute;n y el buen funcionamiento de sus escuelas. Para eso, se les ayuda a desarrollar su estilo de liderazgo a trav&eacute;s de aspectos como la eficacia y el buen desempe&ntilde;o.</p>
<p>
	&nbsp;</p>
<p>
	En el proceso, la fase de seguimiento tambi&eacute;n es de suma importancia, ya que garantiza la continuidad en la aplicaci&oacute;n de los talleres, y ayuda a los docentes a adoptar los nuevos m&eacute;todos pedag&oacute;gicos, optimizando el tiempo de aprendizaje.</p>
<p>
	<strong>20 PUNTOS PARA EL ESFUERZO</strong></p>
<p>
	Desde su implementaci&oacute;n, los resultados del Proyecto &ldquo;Guayac&aacute;n&rdquo; han sido satisfactorios. Las escuelas est&aacute;n experimentado una disminuci&oacute;n en la deserci&oacute;n escolar y en el n&uacute;mero de ni&ntilde;os que repiten un grado. Adem&aacute;s, hay menos inasistencias, tanto de los ni&ntilde;os como de los docentes.</p>
<p>
	A nivel general, los directores y maestros est&aacute;n demostrando mayor entusiasmo por su profesi&oacute;n y se sienten m&aacute;s motivados a mejorar sus pr&aacute;cticas profesionales. &nbsp;</p>
</td>
            </tr>
            <tr>
                <td colspan="2" align="center" class="separadores"></td>
             </tr>
                                      </table>
              </td>
            </tr>
          </table> 
        <!-- InstanceEndEditable -->
  <div id="menu_categorias">
  <div id="redes2">
   		<div class="redes_icono2"> <a href="http://twitter.com/sigosa"><img src="/imagenes/logo_twitter_gris.png" width="46" height="46" border="0" id="Image1" onmouseover="MM_swapImage('Image1','','/imagenes/logo_twitter_color.png',1)" onmouseout="MM_swapImgRestore()" /></a></div>
        <div class="redes_icono2"> <a href="http://www.facebook.com/SigoVenezuela"><img src="/imagenes/logo_face_gris.png" width="46" height="46" border="0" id="Image2" onmouseover="MM_swapImage('Image2','','/imagenes/logo_facebook_color.png',1)" onmouseout="MM_swapImgRestore()" /></a></div>
        <div class="redes_icono2"> <a href="http://www.youtube.com/SigoVenezuela"><img src="/imagenes/logo_youtube_gris.png" width="46" height="46" border="0" id="Image3" onmouseover="MM_swapImage('Image3','','/imagenes/logo_youtube_color.png',1)" onmouseout="MM_swapImgRestore()" /></a></div>
</div>
		
      		<div class="modulo">
            <div><a href="#" title="Sigo">
            <span class="titulo4">Sigo</span></a></div>
                                            <div class="submodulos">
                <a href="contenido_sub.php?cont=15&amp;sub=97#next" title="La Empresa Sigo S.A." class="enlace_top">&bull; ¿Quiénes Somos?</a></div>
                                <div class="submodulos">
                <a href="contenido_sub.php?cont=15&amp;sub=98#next" title="Misión y Visión Sigo S.A." class="enlace_top">&bull; Misión y Visión</a></div>
                                <div class="submodulos">
                <a href="contenido_sub.php?cont=15&amp;sub=99#next" title="Sala de Prensa" class="enlace_top">&bull; Sala de Prensa</a></div>
                                    </div>
     		<div class="modulo">
            <div><a href="#" title="Sucursales">
            <span class="titulo4">Sucursales</span></a></div>
                                            <div class="submodulos2">
                <a href="contenido_sub.php?cont=16&amp;sub=106#next" title="Sucursales de Porlamar" class="enlace_top">&bull; Porlamar</a></div>
                                <div class="submodulos2">
                <a href="contenido_sub.php?cont=16&amp;sub=105#next" title="Sucursales de Pampatar" class="enlace_top">&bull; Pampatar</a></div>
                                <div class="submodulos2">
                <a href="contenido_sub.php?cont=16&amp;sub=100#next" title="Sucursal de Barcelona" class="enlace_top">&bull; Barcelona</a></div>
                                <div class="submodulos2">
                <a href="contenido_sub.php?cont=16&amp;sub=103#next" title="Sucursales de Maturín" class="enlace_top">&bull; Maturín</a></div>
                                <div class="submodulos2">
                <a href="contenido_sub.php?cont=16&amp;sub=104#next" title="Sucursales de Paraguaná" class="enlace_top">&bull; Paraguaná</a></div>
                                    </div>
     		<div class="modulo">
            <div><a href="#" title="Corporativo">
            <span class="titulo4">Corporativo</span></a></div>
                                            <div class="submodulos">
                <a href="contenido_sub.php?cont=17&amp;sub=109#next" title="Innova Centros Comerciales" class="enlace_top">&bull; Innova Centros Comerciales</a></div>
                                <div class="submodulos">
                <a href="contenido_sub.php?cont=17&amp;sub=110#next" title="Intranet Sigo S.A." class="enlace_top">&bull; Intranet</a></div>
                                <div class="submodulos">
                <a href="contenido_sub.php?cont=17&amp;sub=115#next" title="Empleo Sigo" class="enlace_top">&bull; Empleo</a></div>
                                    </div>
     		<div class="modulo">
            <div><a href="#" title="Pensando en Tí">
            <span class="titulo4">Pensando en Tí</span></a></div>
                                            <div class="submodulos">
                <a href="contenido_sub.php?cont=18&amp;sub=111#next" title="Valoramos tu bienestar" class="enlace_top">&bull; Valoramos tu bienestar</a></div>
                                <div class="submodulos">
                <a href="contenido_sub.php?cont=18&amp;sub=112#next" title="Eventos Sigo S.A." class="enlace_top">&bull; Eventos</a></div>
                                    </div>
     	
  </div>
</div>
<div class="clear"></div>

<div id="panel_pie">
    <div id="pie">
    <div id="botonera">
    	<div class="boton"><a href="index.php">Home</a></div>
                    <div class="boton"><a href="contenido.php?cont=9#next">Smilies</a></div>
                    <div class="boton"><a href="contenido.php?cont=20#next">Responsabilidad Social</a></div>
                    <div class="boton"><a href="contenido.php?cont=19#next">Universidad Corporativa de Sigo</a></div>
                <div class="boton"><a title="Contactos"  href="contacto.php">Cont&aacute;ctanos</a></div>
        <div class="boton_less">&nbsp;</div> 
    </div>
    <div id="logominimo"><img src="/imagenes/loguito.png" width="50" height="45" /></div>
    <div id="copy"> | SIGO S.A. &reg; 2016 RIF:J-08003048-6</div>
  </div>
</div>
</body>
<!-- InstanceEnd --></html>