134
a:4:{s:8:"template";a:1:{s:12:"sigoclub.tpl";b:1;}s:9:"timestamp";i:1537982269;s:7:"expires";i:1537985869;s:13:"cache_serials";a:0:{}}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Sigo Club | Sigo Venezuela</title>
<meta name="Title" content="Sigo S.A." />
<meta name="Author" content="Alejandro Díaz http://diazcreativos.net.ve/" />
<meta name="Subject" content="Sigo S.A." />
<meta name="Description" content="" />
<meta name="Keywords" content="" />

<meta name="Generator" content="DreamWeaver" />
<meta name="Language" content="Spanish" />
<meta name="Revisit" content="7 days" />
<meta name="Distribution" content="Global" />
<meta name="Robots" content="All" />

<link href="/css/estilos.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="/imagenes/icono.ico" />
<script src="/js/validar.js" type="text/javascript"></script>
<link href="/css/skitter.styles.css" type="text/css" media="all" rel="stylesheet" />
<link rel="stylesheet" href="/css/jshowoff.css" type="text/css" media="screen, projection" />
<script src="/js/jquery.min.js" type="text/javascript"></script>
<script src="/js/jquery-ui.min.js" type="text/javascript"></script>
<script src="/js/jquery.skitter.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/jquery.jshowoff.min.js"></script>
<script src="/Scripts/swfobject_modified.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/jquery.jcarousel.js"></script>
<link rel="stylesheet" type="text/css" href="/css/skin.css" />
<link href="/css/styles.css" type="text/css" media="all" rel="stylesheet" />
<link href="/dropdown/menu.css" type="text/css" media="all" rel="stylesheet" />

<script type="text/javascript">

$(document).ready(function() {
  $('#puntos_enviar').click(function(e){
    e.preventDefault()
    $('#error_cliente').html("")
    cedula = $('#IdDocument').val()
    if (cedula != ''){
      $('#spinner').show()
      $('#tr_contenido').hide()
      $('#tabla_clientes tbody').html(" ")
      $('#tabla_cuentas tbody').html(" ")
      $.ajax({
        url: "sigojson.php",
        type: "GET",
        data: "cedula="+cedula,
        success: function (data){
          $('#spinner').hide()
          try{
            datos = $.parseJSON(data)
            $('#tr_contenido').show()
            $.each(datos.Customer, function(i, v){
              $('#tabla_clientes tbody').append("<tr><td class='titulo_alt'>"+v.Fullname+"</td><td class='titulo_alt'>"+v.cod_sigoclub+"</td></tr>")
            })
            $.each(datos.AccountBalance, function(i, v){
              $('#tabla_cuentas tbody').append("<tr><td class='titulo_alt'>"+v.tipocuenta+"</td><td class='titulo_alt'>"+v.saldo+"</td></tr>")
            })
          }
          catch(e){
             $('#error_cliente').html("Disculpe: " + e)
          }
        },
        error: function (e){
         console.log ("error: ", e)
        }
      })
    } //:~ if cedula
  })
});


</script>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=places&sensor=true"></script>


</head>

<body onload="MM_preloadImages('/imagenes/logo_twitter_color.png','/imagenes/logo_facebook_color.png','/imagenes/logo_youtube_color.png')">
<div id="main_principal">
<div id="encabezado2">
        <div id="logopequeno"><a href="index.php" title="Home"><img src="/imagenes/logotipo_D.png" width="154" height="144" border="0" /></a></div>
        <div id="botonera_A">
            <ul id="menu">
                                        <li><a href="contenido.php?cont=1#next">Home</a>
                                            </li>
                	                    <li><a href="contenido.php?cont=2#next">HyperMarket</a>
                                                <div class="dropdown_3columns">
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&sub=64#next">
                                Artículos del Hogar</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&sub=65#next">
                                Bebés</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&sub=66#next">
                                Bodegón</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&sub=67#next">
                                Carnicería</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&sub=68#next">
                                Charcutería</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&sub=69#next">
                                Chucherías</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&sub=70#next">
                                Computación</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&sub=71#next">
                                Congelados</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&sub=72#next">
                                Cuidado Personal</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&sub=73#next">
                                Deportes</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&sub=75#next">
                                Farmacia</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&sub=74#next">
                                Electrodomésticos</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&sub=76#next">
                                Ferretería</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&sub=77#next">
                                Frulever</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&sub=78#next">
                                Lámparas</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&sub=79#next">
                                Lencería</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&sub=80#next">
                                Limpieza</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&sub=81#next">
                                Mascotas</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&sub=82#next">
                                Panadería</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&sub=83#next">
                                Papelería</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&sub=84#next">
                                Pescadería</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&sub=85#next">
                                Pintura</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&sub=86#next">
                                Sigo Car</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&sub=87#next">
                                Ropa</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&sub=88#next">
                                Sonido y Video</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=2&sub=89#next">
                                Víveres</a>
                                </div>
                                                    </div>
                                            </li>
                	                    <li><a href="contenido.php?cont=3#next">SuperMarket</a>
                                                <div class="dropdown_3columns">
                                                            <div class="col_1"><a href="contenido_sub.php?cont=3&sub=43#next">
                                Bodegón</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=3&sub=19#next">
                                Carnicería</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=3&sub=44#next">
                                Charcutería</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=3&sub=45#next">
                                Chucherías</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=3&sub=46#next">
                                Congelados</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=3&sub=22#next">
                                Cuidado Personal</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=3&sub=21#next">
                                Farmacia</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=3&sub=18#next">
                                Frulever</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=3&sub=49#next">
                                Limpieza</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=3&sub=47#next">
                                Mascotas</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=3&sub=33#next">
                                Panadería</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=3&sub=42#next">
                                Pescadería</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=3&sub=48#next">
                                Víveres</a>
                                </div>
                                                    </div>
                                            </li>
                	                    <li><a href="contenido.php?cont=4#next">HomeMarket</a>
                                                <div class="dropdown_3columns">
                                                            <div class="col_1"><a href="contenido_sub.php?cont=4&sub=50#next">
                                Artículos del Hogar</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=4&sub=51#next">
                                Bebés</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=4&sub=52#next">
                                Computación</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=4&sub=53#next">
                                Deportes</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=4&sub=54#next">
                                Electrodomésticos</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=4&sub=56#next">
                                Ferretería</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=4&sub=57#next">
                                Lámparas</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=4&sub=58#next">
                                Lencería</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=4&sub=59#next">
                                Papelería</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=4&sub=60#next">
                                Pintura</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=4&sub=61#next">
                                Sigo Car</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=4&sub=62#next">
                                Ropa</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=4&sub=63#next">
                                Sonido y Video</a>
                                </div>
                                                    </div>
                                            </li>
                	                    <li><a href="contenido.php?cont=5#next">MiniMarket</a>
                                                <div class="dropdown_3columns">
                                                            <div class="col_1"><a href="contenido_sub.php?cont=5&sub=91#next">
                                Chucherías</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=5&sub=92#next">
                                Cuidado Personal</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=5&sub=90#next">
                                Farmacia</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=5&sub=93#next">
                                Limpieza</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=5&sub=94#next">
                                Mascotas</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=5&sub=95#next">
                                Panadería</a>
                                </div>
                                                            <div class="col_1"><a href="contenido_sub.php?cont=5&sub=96#next">
                                Víveres</a>
                                </div>
                                                    </div>
                                            </li>
                	                    <li><a href="contenido.php?cont=7#next">Bodegón</a>
                                            </li>
                	                    <li><a href="contenido.php?cont=8#next">Farmacia</a>
                                            </li>
                	            </ul>
        </div>
</div>
<a id="next"></a><br />

  <div id="panel_sigoclub">
  		<div id="formulario_sigoclub">
        	<form>
        <table width="90%" border="0" align="center" cellpadding="4" cellspacing="0">
              <tr>
                <td height="32" colspan="2" align="center" valign="top" class="titulo_alt">Cedula:
                  <input name="IdDocument" onkeypress="javascripts: return validarnum(event)" type="text" class="componentes" id="IdDocument" size="25" maxlength="12" />
                <input name="envio" type="submit" class="componentes" id="puntos_enviar" value="Verificar" />
                Introduce tu n&uacute;mero de c&eacute;dula</td>
              </tr>
              <tr id="spinner" style="display:none">
                <td height="32" colspan="2" align="center" valign="top" class="titulo_alt"><img  style="" src="/imagenes/spinner.gif" width="64" height="64" /></td>
               </tr>

              <tr id="tr_contenido" style="display:none">
                <td width="50%" align="left" valign="top" class="titulo">
                  <table id="tabla_clientes" width="100%" border="0" cellspacing="0" cellpadding="6">
                    <thead>
                 <tr class="titulo2">
                    <td width="60%">Nombre</td>
                    <td width="40%">C&oacute;digo Sigo Club</td>
                  </tr>

                </thead>
                <tbody>
                </tbody>
                </table>
              </td>
                <td width="50%" align="left" valign="top" class="normalContenido">
                  <table id="tabla_cuentas" width="100%" border="0" cellspacing="0" cellpadding="6">
                    <thead>
                  <tr class="titulo2">
                    <td>Tipo de Cuenta</td>
                    <td>Saldo</td>
                  </tr>
                </thead>
                <tbody>
                </tbody>
                </table>
              </td>
              </tr>
              
            </table>
      </form>
      <center><span id='error_cliente' style='color: red'></span></center>
        </div>
  </div>

<div id="sigoclub_contenido">
<p><span class="titulo"><img src="/imagenes/cuadrito_09b.jpg" width="11" height="12" />  ¿Qué es Sigo Club?</span><br />
Sigo Club es un programa de fidelidad innovador hecho a la medida de Sigo y sus clientes naturales, que ofrece la posibilidad de acumular puntos cada vez que hagas tus compras. También obtienes beneficios automáticos en una gran cantidad de empresas relacionadas a Sigo Club. 
</p>
</div>

  <div id="menu_categorias">
    <div id="redes2">
   		<div class="redes_icono2"> <a href="http://twitter.com/sigosa"><img src="/imagenes/logo_twitter_gris.png" width="46" height="46" border="0" id="Image1" onmouseover="MM_swapImage('Image1','','/imagenes/logo_twitter_color.png',1)" onmouseout="MM_swapImgRestore()" /></a></div>
        <div class="redes_icono2"> <a href="http://www.facebook.com/SigoVenezuela"><img src="/imagenes/logo_face_gris.png" width="46" height="46" border="0" id="Image2" onmouseover="MM_swapImage('Image2','','/imagenes/logo_facebook_color.png',1)" onmouseout="MM_swapImgRestore()" /></a></div>
        <div class="redes_icono2"> <a href="http://www.youtube.com/SigoVenezuela"><img src="/imagenes/logo_youtube_gris.png" width="46" height="46" border="0" id="Image3" onmouseover="MM_swapImage('Image3','','/imagenes/logo_youtube_color.png',1)" onmouseout="MM_swapImgRestore()" /></a></div>
</div>

    		<div class="modulo">
            <div><a href="#" title="Sigo">
            <span class="titulo4">Sigo</span></a></div>
                                            <div class="submodulos">
                <a href="contenido_sub.php?cont=15&sub=97#next" title="La Empresa Sigo S.A." class="enlace_top">&bull; ¿Quiénes Somos?</a></div>
                                <div class="submodulos">
                <a href="contenido_sub.php?cont=15&sub=98#next" title="Misión y Visión Sigo S.A." class="enlace_top">&bull; Misión y Visión</a></div>
                                <div class="submodulos">
                <a href="contenido_sub.php?cont=15&sub=99#next" title="Sala de Prensa" class="enlace_top">&bull; Sala de Prensa</a></div>
                                    </div>
     		<div class="modulo">
            <div><a href="#" title="Sucursales">
            <span class="titulo4">Sucursales</span></a></div>
                                            <div class="submodulos2">
                <a href="contenido_sub.php?cont=16&sub=106#next" title="Sucursales de Porlamar" class="enlace_top">&bull; Porlamar</a></div>
                                <div class="submodulos2">
                <a href="contenido_sub.php?cont=16&sub=105#next" title="Sucursales de Pampatar" class="enlace_top">&bull; Pampatar</a></div>
                                <div class="submodulos2">
                <a href="contenido_sub.php?cont=16&sub=100#next" title="Sucursal de Barcelona" class="enlace_top">&bull; Barcelona</a></div>
                                <div class="submodulos2">
                <a href="contenido_sub.php?cont=16&sub=103#next" title="Sucursales de Maturín" class="enlace_top">&bull; Maturín</a></div>
                                <div class="submodulos2">
                <a href="contenido_sub.php?cont=16&sub=104#next" title="Sucursales de Paraguaná" class="enlace_top">&bull; Paraguaná</a></div>
                                    </div>
     		<div class="modulo">
            <div><a href="#" title="Corporativo">
            <span class="titulo4">Corporativo</span></a></div>
                                            <div class="submodulos">
                <a href="contenido_sub.php?cont=17&sub=109#next" title="Innova Centros Comerciales" class="enlace_top">&bull; Innova Centros Comerciales</a></div>
                                <div class="submodulos">
                <a href="contenido_sub.php?cont=17&sub=110#next" title="Intranet Sigo S.A." class="enlace_top">&bull; Intranet</a></div>
                                <div class="submodulos">
                <a href="contenido_sub.php?cont=17&sub=115#next" title="Empleo Sigo" class="enlace_top">&bull; Empleo</a></div>
                                    </div>
     		<div class="modulo">
            <div><a href="#" title="Pensando en Tí">
            <span class="titulo4">Pensando en Tí</span></a></div>
                                            <div class="submodulos">
                <a href="contenido_sub.php?cont=18&sub=111#next" title="Valoramos tu bienestar" class="enlace_top">&bull; Valoramos tu bienestar</a></div>
                                <div class="submodulos">
                <a href="contenido_sub.php?cont=18&sub=112#next" title="Eventos Sigo S.A." class="enlace_top">&bull; Eventos</a></div>
                                    </div>
     
</div>
</div>
<div class="clear"></div>

<div id="panel_pie">
    <div id="pie">
    <div id="botonera">
    	<div class="boton"><a href="index.php">Home</a></div>
                    <div class="boton"><a href="contenido.php?cont=9#next">Smilies</a></div>
                    <div class="boton"><a href="contenido.php?cont=20#next">Responsabilidad Social</a></div>
                    <div class="boton"><a href="contenido.php?cont=19#next">Universidad Corporativa de Sigo</a></div>
                <div class="boton"><a href="#">Cont&aacute;ctanos</a></div>
        <div class="boton_less">&nbsp;</div>
    </div>
    <div id="logominimo"><img src="/imagenes/loguito.png" width="50" height="45" /></div>
    <div id="copy"> | SIGO S.A. ® 2016 RIF:J-08003048-6</div>
  </div>
</div>
</body>
</html>